# Standard Deviation

In [1]:
import numpy as np
import matplotlib as plt
import scipy.io as spio
import pandas as pd

%matplotlib inline

In [2]:
matdata = spio.loadmat('trajectories.mat')                         
matarray = matdata['trajectories04000415'] 

print(matarray[0])

data = matarray

[  1.00000000e+00   1.20000000e+01   8.84000000e+02   1.11343000e+12
   1.68840000e+01   4.82130000e+01   6.04284212e+06   2.13311766e+06
   1.43000000e+01   6.40000000e+00   2.00000000e+00   1.25000000e+01
   0.00000000e+00   2.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00]

In [3]:
labels = ['Vehicle ID', 'Frame ID', 'Total Frames', 'Global Time', 'Local X', 'Local Y', 
          'Global X', 'Global Y', 'Length', 'Width', 'Class', 'Velocity', 'Acceleration', 
          'Lane ID', 'Preceding', 'Following', 'Spacing', 'Headway']
df = pd.DataFrame(data = matarray, columns = labels )

In [20]:
df['Vehicle ID'] = df['Vehicle ID'].astype(int)
df['Frame ID'] = df['Frame ID'].astype(int)
df['Total Frames'] = df['Total Frames'].astype(int)
df['Class'] = df['Class'].astype(int)
df['Preceding'] = df['Preceding'].astype(int)
df['Following'] = df['Following'].astype(int)
df['Lane ID'] = df['Lane ID'].astype(int)

ValueError: No axis named Vehicle ID for object type <class 'pandas.core.frame.DataFrame'>

In [22]:
# returns dataframe specific to vehicle ID

for i in range(1, 2911 + 1):
    def vehicle_df(id = i):
        return df.loc[df['Vehicle ID'] == id]

#calculate the standard deviation for the velocity of each vehicle
    def std_vel_by_vid(id = i):
        return vehicle_df(id)['Velocity'].std()

#identify the class of vehicle  
    def vehicle_class(id = i):
        return vehicle_df(id)['Class'].mean()
            
  
    print(i,std_vel_by_vid(),vehicle_class());

ValueError: No axis named 10.135982719798067 for object type <class 'pandas.core.frame.DataFrame'>

In [21]:
df.dropna(std_vel_by_vid())

ValueError: No axis named 10.135982719798067 for object type <class 'pandas.core.frame.DataFrame'>

In [23]:
#make sure vehicle id is a number then append to list - does not run
std_dev = []
for i in range(1, 2911 + 1):
        vel_id = vehicle_df(i)
        if not np.isnan(vel_id):
            std_dev.append(vel_id)
            
            
df.dropna(std_vel_by_vid())

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [14]:
np.nan_to_num(std_vel_by_vid())

10.135982719798067

In [9]:
#check results to get rid of 'nan'
#create df for the results of standard deviation and vehicle class and place them into summary_df

In [8]:
# create summary dataframe of results
# cols = ['Vehicle ID', 'Standard Deviation']
#  = { 'Vehicle ID' : sorted_unique_vids }
summary_df = pd.DataFrame(
    { 'VID' :sorted({ n for n in df['Vehicle ID'] }) ,
      'Standard Deviation' : '5.0', 
      'Vehicle Class' :'vehicle_class'})

summary_df.assign

# go over each vehicle id and calculate average velocity
# summary_df[summary_df['Average Velocity']] = avg_vel_by_vid(id)



summary_df

     Standard Deviation   VID  Vehicle Class
0                   5.0     1  vehicle_class
1                   5.0     2  vehicle_class
2                   5.0     4  vehicle_class
3                   5.0     5  vehicle_class
4                   5.0     7  vehicle_class
5                   5.0    11  vehicle_class
6                   5.0    12  vehicle_class
7                   5.0    13  vehicle_class
8                   5.0    15  vehicle_class
9                   5.0    17  vehicle_class
10                  5.0    21  vehicle_class
11                  5.0    24  vehicle_class
12                  5.0    25  vehicle_class
13                  5.0    27  vehicle_class
14                  5.0    31  vehicle_class
15                  5.0    32  vehicle_class
16                  5.0    36  vehicle_class
17                  5.0    39  vehicle_class
18                  5.0    41  vehicle_class
19                  5.0    43  vehicle_class
20                  5.0    44  vehicle_class
21                  5.0    45  vehicle_class
22                  5.0    46  vehicle_class
23                  5.0    47  vehicle_class
24                  5.0    50  vehicle_class
25                  5.0    51  vehicle_class
26                  5.0    53  vehicle_class
27                  5.0    54  vehicle_class
28                  5.0    55  vehicle_class
29                  5.0    59  vehicle_class
...                 ...   ...            ...
1695                5.0  2869  vehicle_class
1696                5.0  2870  vehicle_class
1697                5.0  2872  vehicle_class
1698                5.0  2873  vehicle_class
1699                5.0  2874  vehicle_class
1700                5.0  2875  vehicle_class
1701                5.0  2877  vehicle_class
1702                5.0  2879  vehicle_class
1703                5.0  2880  vehicle_class
1704                5.0  2881  vehicle_class
1705                5.0  2883  vehicle_class
1706                5.0  2885  vehicle_class
1707                5.0  2886  vehicle_class
1708                5.0  2888  vehicle_class
1709                5.0  2889  vehicle_class
1710                5.0  2890  vehicle_class
1711                5.0  2893  vehicle_class
1712                5.0  2894  vehicle_class
1713                5.0  2895  vehicle_class
1714                5.0  2897  vehicle_class
1715                5.0  2898  vehicle_class
1716                5.0  2899  vehicle_class
1717                5.0  2901  vehicle_class
1718                5.0  2902  vehicle_class
1719                5.0  2904  vehicle_class
1720                5.0  2906  vehicle_class
1721                5.0  2907  vehicle_class
1722                5.0  2908  vehicle_class
1723                5.0  2910  vehicle_class
1724                5.0  2911  vehicle_class

[1725 rows x 3 columns]